section.training.card-deck
	.card.history
		.card-block
			.card-header
				h2 История обучения
				label Дата:
					input(id='history_date', type='text')
					span.button_input_date
			.card-content.scrollbar-inner
				ul.history_items
					li.passed
						a(href='#') Обучающий модуль модуль 1
					li
						a(href='#') Обучающий модуль модуль 2
					li.passed
						a(href='#') Обучающий модуль модуль 3
					li
						a(href='#') Обучающий модуль модуль 4
					li.passed
						a(href='#') Обучающий модуль модуль 5
					li.passed
						a(href='#') Аттестация Аттестация
					li.passed
						a(href='#') Обучающий модуль модуль 5
					li.passed
						a(href='#') Обучающий модуль модуль 6
					li.passed
						a(href='#') Обучающий модуль модуль 7
					li.passed
						a(href='#') Обучающий модуль модуль 8
					li.passed
						a(href='#') Обучающий модуль модуль 9
					li.passed
						a(href='#') Обучающий модуль модуль 10
					li.passed
						a(href='#') Обучающий модуль модуль 11
					li.passed
						a(href='#') Обучающий модуль модуль 12
					li.passed
						a(href='#') Обучающий модуль модуль 13
					li.passed
						a(href='#') Обучающий модуль модуль 14
					li.passed
						a(href='#') Обучающий модуль модуль 15
					li.passed
						a(href='#') Обучающий модуль модуль 16
					li.passed
						a(href='#') Обучающий модуль модуль 17
					li.passed
						a(href='#') Обучающий модуль модуль 18
					li.passed
						a(href='#') Обучающий модуль модуль 19
					li.passed
						a(href='#') Обучающий модуль модуль 20
	article.card.teach_module.passed
		.card-block
			.card-header
				h2 Обучающий модуль 1
				p.result_testing Модуль пройден
				p.duration_access Тест еще будет активен 21 день
			.card-content
				p В основной части раздела содержится информация обо всех обучающих модулях и аттестации.
				p Для перехода к конкретному модулю необходимо пройти по ссылке в соответствующем блоке. Также можно сразу перейти к тестированию. Тест активен 21 день. (Период активности теста заводится тренером при формировании обучающего модуля)
				p В основной части раздела содержится информация обо всех обучающих модулях и аттестации.
				p Для перехода к конкретному модулю необходимо пройти по ссылке в соответствующем блоке. Также можно сразу перейти к тестированию. Тест активен 21 день. (Период активности теста заводится тренером при формировании обучающего модуля)
			.card-footer
				a.teach_link Перейти к обучению
				a.button Пройти тест
	article.card.teach_module.passed
		.card-block
			.card-header
				h2 Обучающий модуль 2
				p.result_testing Модуль пройден
				p.duration_access Тест еще будет активен 21 день
			.card-content
				p В основной части раздела содержится информация обо всех обучающих модулях и аттестации.
				p Для перехода к конкретному модулю необходимо пройти по ссылке в соответствующем блоке. Также можно сразу перейти к тестированию. Тест активен 21 день. (Период активности теста заводится тренером при формировании обучающего модуля)
				p В основной части раздела содержится информация обо всех обучающих модулях и аттестации.
				p Для перехода к конкретному модулю необходимо пройти по ссылке в соответствующем блоке. Также можно сразу перейти к тестированию. Тест активен 21 день. (Период активности теста заводится тренером при формировании обучающего модуля)
			.card-footer
				a.teach_link Перейти к обучению
				a.button Пройти тест
	article.card.teach_module
		.card-block
			.card-header
				h2 Обучающий модуль 3
				p.result_testing Модуль пройден
				p.duration_access Тест еще будет активен 21 день
			.card-content
				p В основной части раздела содержится информация обо всех обучающих модулях и аттестации.
				p Для перехода к конкретному модулю необходимо пройти по ссылке в соответствующем блоке. Также можно сразу перейти к тестированию. Тест активен 21 день. (Период активности теста заводится тренером при формировании обучающего модуля)
				p В основной части раздела содержится информация обо всех обучающих модулях и аттестации.
				p Для перехода к конкретному модулю необходимо пройти по ссылке в соответствующем блоке. Также можно сразу перейти к тестированию. Тест активен 21 день. (Период активности теста заводится тренером при формировании обучающего модуля)
			.card-footer
				a.teach_link Перейти к обучению
				a.button Пройти тест
	article.card.teach_module
		.card-block
			.card-header
				h2 Обучающий модуль 4
				p.result_testing Модуль пройден
				p.duration_access Тест еще будет активен 21 день
			.card-content
				p В основной части раздела содержится информация обо всех обучающих модулях и аттестации.
				p Для перехода к конкретному модулю необходимо пройти по ссылке в соответствующем блоке. Также можно сразу перейти к тестированию. Тест активен 21 день. (Период активности теста заводится тренером при формировании обучающего модуля)
				p В основной части раздела содержится информация обо всех обучающих модулях и аттестации.
				p Для перехода к конкретному модулю необходимо пройти по ссылке в соответствующем блоке. Также можно сразу перейти к тестированию. Тест активен 21 день. (Период активности теста заводится тренером при формировании обучающего модуля)
			.card-footer
				a.teach_link Перейти к обучению
				a.button Пройти тест
	article.card.teach_module.attestation.passed
		.card-block
			.card-header
				h2 Аттестация
				p.result_testing Пройдена
				p.duration_access Аттестация еще будет активна 19 дней
			.card-content
				.attestation_result
					p Ваш результат
					p.evaluation
						span 120
						|
						| Баллов
				img(src='../img/success.png', alt='Аттестация пройдена').success
				img(src='../img/dislike.png', alt='Аттестация не пройдена').dislike
			.card-footer
				a.teach_link Перейти к обучению
				a.button Пройти тест